<footer class="bg-secondary text-light py-3 mt-4 small">
  <div class="container d-flex justify-content-between align-items-center">
    <p class="mb-0">&copy; 2025 Task Management. All Rights Reserved.</p>
    <div class="d-flex gap-3">
      <a
        href="https://github.com/Japneet001"
        target="_blank"
        class="text-light text-decoration-none"
        style="font-size: 1.2rem"
      >
        <i class="fab fa-github"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/japneet-kaur-7788b8253/"
        target="_blank"
        class="text-light text-decoration-none"
        style="font-size: 1.2rem"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a
        href="https://x.com/Jkaur0102"
        target="_blank"
        class="text-light text-decoration-none"
        style="font-size: 1.2rem"
      >
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
</footer>
